.App {
  /* margin: 2em;
  padding: 2em; */
  display: inline;
  position: relative;
  top: 5em;
  left: 5em;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
